NEXT_PUBLIC_SANITY_PROJECT_ID=m7dvt4iq #This is the actual ID of the vercel project
NEXT_PUBLIC_SANITY_DATASET=staging     #This dataset doesn't exists by default, but create one early in the project and use for development
NEXT_SITE_URL=http://localhost:3000  
SANITY_API_READ_TOKEN=                 #Find this in the Umain-sanity-next-starter project in the Umain organisation in Sanity
